* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: coral;
    color: white;
    text-transform: uppercase;
    padding: 40px;
    font-size: 30px;
    text-align: center;
}

main {
    padding: 40px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    background: yellow;
}

.card-container {
    width: calc((100% - 20px) / 2);
    ;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#all-actors {
    margin: 0 auto;
    width: 80%;
}


.card-container>h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: blueviolet;
    padding: 30px;
}

.card {
    width: calc((100% - 20px) / 2);
    background-color: rgb(192, 164, 255);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#all-actors .card {
    background-color: #7aacad;
    width: calc((100% - 60px) / 4);
}

.actors .card {
    background-color: darkseagreen;
}

.card .name,
.card h3,
.card h4,
.card span {
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.card div {
    text-align: center;
}

span {
    font-weight: bolder;
}

.card .info-container {
    height: 40%;
}

.card .image-container {
    height: 60%;
}

.card .image-container {
    margin: 0 auto;
    width: 100%;
    height: 200px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}